<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147151678884-ic4ngrk7d93urokcli713d8gdn9vfr4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147151678884-ic4ngrk7d93urokcli713d8gdn9vfr4u</string>
	<key>API_KEY</key>
	<string>AIzaSyAp8zKPUFcCDszkFq_RmEPSD_fn_2Ee3Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>147151678884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DemeRy.Carfour</string>
	<key>PROJECT_ID</key>
	<string>carfour-d89b9</string>
	<key>STORAGE_BUCKET</key>
	<string>carfour-d89b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147151678884:ios:6c7ed690a002bd7188e531</string>
</dict>
</plist>